body, html {

	background-color: black;

}

#fullscreen_div {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
}

#fullscreen_div img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	max-width: 50%;
	min-height: 50%;
	
}
