/* basic menu styles */
/*.navBar {
  display: block;
  background: #000;
}*/

.navBar li {
  display: inline-block;
}

.navBar li a {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  overflow: visible;
  padding: 5px 10px;
  font-family: 'Oswald' , sans-serif; 
  font-size: 20px; 
}

/* animation domination */
.three-d {
  perspective: 300px;
  transition: all .07s linear;
  position: relative;
  cursor: pointer;
}
  /* complete the animation! */
  .three-d:hover .three-d-box {
    transform: translateZ(-20px) rotateX(90deg);
  }

 /* .three-d:hover .front{
    transform: translateZ(20px);
  }*/

  .three-d:hover .default span:not(.default){
    transform: translateZ(20px);
  }



.three-d-box {
  transition: all .3s ease-out;
  transform: translatez(-20px);
  transform-style: preserve-3d;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}



/* 
  put the "front" and "back" elements into place with CSS transforms, 
  specifically translation and translatez
*/
.front {
  transform: rotatex(0deg) translatez(20px);
}

.back {
  transform: rotatex(-90deg) translatez(20px);
  color: #ffe7c4;
}

.front, .back {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  /*padding: 5px 10px;*/
  padding: 1px 10px;
  color: white;
  pointer-events: none;
  box-sizing: border-box;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*.front {
  top: 5px;
}*/

/*.back {
  top: -5px;
}*/
.front.default, .back.default {
  /*color: black;
  background: white;*/
  border: 3px solid white;
}
.it {
  color: black;
  background: white;
}
.not {
  color: white !important;
  background: black !important;
  border: 3px solid white;
}

.transform {
  transform: translateZ(-20px) rotateX(90deg);
}

.transformInverse {
  transform: translateZ(40px) rotateX(180deg);
}